*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: "Inter", sans-serif;
    font-weight: 400;
}





.main{
    height: 10vh;
    width: 100%;
    background-color: #fff;
}
.nav{
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.nav-part-1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav img{
    height: 50px;
    width: auto;
    margin-right: 60px;
    cursor: pointer;
}

.nav-part-1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.nav-part-1 ul a{
    text-decoration: none;
    color: #000;
}

.nav-part-1 ul li{
    margin-right: 40px;
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}


.nav-part-2 i{
    margin-right: 40px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.contact{
    min-height: 100vh;
    background-color: #fff;
    padding: 50px;
    text-align: center;
    
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

.container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}

.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.contact-form{
    text-align: left;
}

.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group{
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color: #333;
}


input:focus,
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}

button{
    display: inline-block;
    padding: 12px 24px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 48px;
}

button:hover{
    background-color: #45a049;
}

.contact-info{
    text-align: left;
}

.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.contact-info p{
    margin-bottom: 10px;
    color: #555;
}
.contact-info a{
    text-decoration: none;
}

.contact-info i{
    color: #4caf50;
    margin-right: 10px;
}