*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: "Inter", sans-serif;
    font-weight: 400;
}





.main{
    height: 10vh;
    width: 100%;
    background-color: #ffffff;
}
.nav{
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.nav-part-1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav img{
    height: 50px;
    width: auto;
    margin-right: 60px;
    cursor: pointer;
}

.nav-part-1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.nav-part-1 ul a{
    text-decoration: none;
    color: #000;
}

.nav-part-1 ul li{
    margin-right: 40px;
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}


.nav-part-2 i{
    margin-right: 40px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}


.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 50px;
}

.image-item {
    position: relative;
}

.image-item img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    transition: 1s;
}


.image-item:hover img {
    transform: scale(1.1);
}


.item-name,
.item-price {
    opacity: 0;
    transition: 0.6s;
    position: absolute;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 15px;
}


.item-name {
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}


.item-price {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}


.image-item:hover .item-name,
.image-item:hover .item-price {
    opacity: 1;
}
